/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/KotoQuizTest/nbproject/private/
/KotoQuizTest/build/
/KotoQuiz/build/
/KotoQuiz/dist/
/test/nbproject/private/
/KotoDebug/nbproject/private/
/KotoDebug/build/
/masuQuiz/nbproject/private/
/masuQuiz/build/
/masuQuiz/dist/
/KotoBeginnerError/nbproject/private/
/KotoBeginnerError/build/